body{
    background: linear-gradient(to right,rgb(3, 98, 128),rgb(129, 190, 206))
}
.cektor1{
    color: white;
    font-family: cursive;
}
.cektor3{
    color: white;
    font-family: cursive;
}